<table>
  <% @deploys.each_with_index do |deploy, i| %>
  <tr class="large <%= i % 2 == 0 ? 'even' : '' %>">
    <td><a href="/deploys/<%= deploy.id %>"><%= deploy.title %></a> <span class="small">(<%= deploy.changes %> changes)</span></td>
    <td>by <%= deploy.user %></td>
    <td class="quiet"><%= format_time(deploy.created_at) %></td>
    <td><%= deploy.project.name %></td>
  </tr>
  <% end %>
</table>
