<h1>Recent deploys</h1>
<hr />

<table>
  <% @deploys.each_with_index do |deploy, i| %>
  <tr class="large <%= i % 2 == 0 ? 'even' : '' %>">
    <td><a href="/deploys/<%= deploy.id %>"><%= deploy.title %></a> <span class="small">(<%= deploy.changes %> changes)</span></td>
    <td>by <%= deploy.user %></td>
    <td class="quiet"><%= deploy.created_at.strftime('%b %d %H:%M') %></td>
    <td><%= deploy.project %></td>
  </tr>
  <% end %>
</table>
