<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @title || 'Deployed It!' %></title>
  <link type="text/css" href="/blueprint/blueprint/screen.css" rel="stylesheet" media="screen"/>
  <link type="text/css" href="/deployed_at.css" rel="stylesheet" media="screen"/>
</head>

<body>
  <div class="container">
    <div id="main_nav">
      <a href="/">Dashboard</a> | <a href="/subscriptions">Subscriptions</a>
    </div>
    <h1><%= @title %></h1>

    <p id="project_nav">
    <% if @projects.size > 1 %>
      <% for project in @projects %>
        <a <%= 'class="active"' if @project && @project == project %> href="/projects/<%= project.id %>"><%= project.name %></a>
      <% end %>
    <% end %>
    </p>
    <hr />

    <%= yield %>
  </div>
</body>
</html>